 h1{
    text-align: center;
 }
 #foo{
    background-color: rgb(147, 31, 31);
    width: 500px;
    height:30px;
    border-radius: 10px;
    
 }
 #fooo{
    background-color: rgb(132, 35, 35);
    width: 400px;
    height:30px;
    border-radius: 10px;
    margin-top: 20px;
 }
 #foos{
    background-color: rgb(120, 28, 28);
    width: 300px;
    height:30px;
    border-radius: 10px;
    margin-top: 20px;
 }
 #foos{
    background-color: rgb(134, 40, 40);
    width: 300px;
    height:30px;
    border-radius: 10px;
    margin-top: 20px;
 }
 #fooos{
    background-color: rgb(247, 241, 241);
    width: 400px;
    height:15px;
    border-radius: 10px;
    margin-top: 20px;
 }
 #fool{
    background-color: rgb(244, 241, 241);
    width: 300px;
    height:12px;
    border-radius: 10px;
    margin-top: 20px;
 }
 #fools{
    background-color: rgb(248, 241, 241);
    width: 200px;
    height:12px;
    border-radius: 10px;
    margin-top: 20px;
 }
 #foole{
    background-color: rgb(246, 9, 9);
    width: 100px;
    height:40px;
    border-radius: 10px;
    margin-top: 20px;
    
 }
 #feel{
    background-color: rgb(119, 38, 38);
    width: 200pxpx;
    height:400px;
    border-radius: 10px;
   margin-left: 500px;

   

 }
 #home{
    margin-left: 100px;
    margin-top: 100px;
    width: 50px
 }
 #idle{
height: 30px;
width: 40px;
border-radius: 10px;
margin-left: 100px;
background-color: rgb(123, 57, 57);
 }
 #but{
    height: 10px;
    width: 50px;
    border-radius: 10px;
    margin-left: 200px;
    padding-top: ;
 }
 #dull{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    margin-left: 200px;
    background-color: darkred;
 }
 H2{
    text-align: center;
 }
 #new{
    border-radius: 10px;
 }
 #ls{
    width: 400px;
    height: 300px;
    background-color: aqua;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: ;
 }
 #neww{
    border-radius: 10px;
    height: 20px;
    width: 200px;
 }
 #news{
    border-radius: 10px;
    height: 20px;
    width: 200px;
 }
  